html {
  font-family: "JetBrains Mono", monospace;
  background: #1E1E2E;
  color: #D3C9D6;
  font-size: 1em;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.container {
  max-width: 840px;
  width: 95%;
  margin: 25px auto 0 auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex: 1 0 auto;
  justify-content: space-between;
}

.container .info, .container .projects {
  max-width: 400px;
}

footer {
  background-color: #1A1826;
  min-height: 20px;
  width: 100%;
  bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 25px;
}

.footer-container {
  max-width: 840px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.footer-container .footer__right a {
  color: #6E6C7E;
  border-bottom-color: #6E6C7E;
}
.footer-container .footer__right a:hover {
  color: inherit;
  border-bottom-color: inherit;
}

h1 {
  font-size: 30px;
  margin: 0 0 3px;
}

h2 {
  font-size: 22px;
}

h2, h3 {
  margin-bottom: 6px;
}

/* Font Awesome icons */
.container .fab, .container .fas {
  width: 1.1em;
  text-align: center;
  color: #B5E8E0;
}

.info h2 {
  color: #ABE9B3;
}
.info .fab, .info .fas {
  color: #D9E0EE;
}

.info, .projects {
  flex: 1;
}

.info__about__location {
  margin-top: 5px;
}

.info__title, .projects__title {
  text-align: left;
}
.info__title__description, .projects__title__description {
  color: #988BA2;
}
.info__title a, .info__title a:hover, .projects__title a, .projects__title a:hover {
  border: none;
  align-self: center;
}

.info__title {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}
.info__title a {
  transition: filter ease-out 0.2s;
}
.info__title a:hover {
  filter: brightness(1.22);
}

.info__title__pfp {
  width: 85px;
  height: auto;
  border-radius: 25%;
  align-self: center;
}

.fa-field {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.fa-field i {
  margin-top: 2px;
}

.info__cat {
  margin-left: auto;
  margin-right: 6px;
  color: #ABE9B3;
  flex-shrink: 0;
  position: relative;
}
.info__cat:hover .info__cat__hover-text {
  opacity: 1;
  margin-top: 0;
}

.info__cat__hover-text {
  position: absolute;
  color: #1E1E2E;
  background-color: #ABE9B3;
  border-radius: 5px;
  margin-top: 8px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: -66px;
  width: 60px;
  height: 20px;
  opacity: 0;
  user-select: none;
  transition: all 0.25s;
  pointer-events: none;
}
.info__cat__hover-text__chat {
  margin-left: 40px;
  margin-top: -2px;
  width: 0;
  height: 0;
  border-top: 6px solid #ABE9B3;
  border-right: 5px solid #ABE9B3;
  border-left: 5px solid transparent;
  border-bottom: 6px solid transparent;
}

.info__cat-div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.pacman {
  margin: 10px 0;
  user-select: none;
  font-size: 20px;
  display: flex;
  gap: 4px;
}

.pacman__pacman {
  color: #FAE3B0;
}

.pacman__ghost--green {
  color: #ABE9B3;
}

.pacman__ghost--orange {
  color: #F8BD96;
}

.pacman__ghost--blue {
  color: #96CDFB;
}

.pacman__ghost--red {
  color: #F28FAD;
}

.pacman__ghost--pink {
  color: #DDB6F2;
}

.projects__title {
  text-align: center;
}

.project-entries {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px 0;
}

.project-entries h1 {
  margin: 22px 0;
}

.project-entries h3 {
  margin: 3px 0;
}

.project-entries p {
  margin: 5px 0;
}

.project-entries .project {
  display: flex;
  flex-direction: column;
  background-color: #1A1826;
  padding: 15px;
  border-radius: 12px;
}

.project-entries .project div, .project-entries .project div a {
  color: #988BA2;
  border-color: #6E6C7E;
}

.project-entries .project--yellow h3 {
  color: #FAE3B0;
}

.project-entries .project--yellow .fab, .project-entries .project--yellow .fas {
  color: #FAE3B0;
}

.project-entries .project--yellow a:hover {
  color: #FAE3B0;
  border-color: #FAE3B0;
}
.project-entries .project--green h3 {
  color: #ABE9B3;
}

.project-entries .project--green .fab, .project-entries .project--green .fas {
  color: #ABE9B3;
}

.project-entries .project--green a:hover {
  color: #ABE9B3;
  border-color: #ABE9B3;
}

.project-entries .project--blue h3 {
  color: #96CDFB;
}

.project-entries .project--blue .fab, .project-entries .project--blue .fas {
  color: #96CDFB;
}

.project-entries .project--blue a:hover {
  color: #96CDFB;
  border-color: #96CDFB;
}

.emoji {
  font-family: monospace;
  font-size: 15px;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed #988BA2;
}

.link-split {
  border-bottom: none;
}
.link-split span {
  display: inline-block;
  border-bottom: 1px dashed #988BA2;
}

.link-split:hover {
  border-bottom: none;
}

.link-split:hover span {
  border-bottom: 1px dashed #B5E8E0;
}

a:link, a:visited {
  color: #D3C9D6;
}

a:hover {
  color: #B5E8E0;
  border-bottom: 1px dashed #B5E8E0;
}

.footer-break {
  display: none;
}

@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .container .info, .container .projects, .footer-container {
    max-width: 500px;
  }

  .info h1 {
    margin-top: 8px;
  }

  .info__title, .projects__title {
    margin-right: 0;
    text-align: center;
  }

  .info__title {
    flex-direction: column;
    align-items: center;
    gap: 3px;
  }
  .info__title__pfp {
    height: 100px;
    width: auto;
  }

  .info__cat {
    margin-right: 0;
    pointer-events: none;
  }

  footer {
    text-align: left;
    margin-top: 10px;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-break {
    display: inline;
  }
}
