/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*color var*/

:root {
    --main-color: #e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --pink-light: #efa2b4;
    --cyan-light: #aef1ee;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px);
}


/*global settings */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--blue-dark);
    font-weight: 300;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 5vh 15px;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-weight: 600;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

section {
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: 90vh;
    border-radius: 30px;
    backdrop-filter: var(--backdrop-filter-blur);
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--green-yellow);
    z-index: -1;
    opacity: 0.12;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.container {
    padding: 0 40px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}


/*custom scroll bar*/

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}


/*button*/

.btn {
    line-height: 1.5;
    background: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease;
}

.btn:hover::before {
    width: 100%;
}

.btn:hover {
    color: var(--white)
}


/*home section*/

.home-section {
    display: flex;
    padding: 120px 0;
}

.home-text,
.home-img {
    width: 50%;
    padding: 15px;
}

.home-text p {
    font-size: 18px;
}

.home-text h1 {
    font-size: 50px;
    text-transform: capitalize;
}

.home-text h2 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 30px;
}

.home-text .btn {
    margin: 0 10px 10px 0;
}

.home-img .img-box {
    max-width: 360px;
    background-color: var(--white-alpha-25);
    border-radius: 50%;
    border: 8px solid var(--white-alpha-25);
    margin: auto;
}

.home-img .img-box img {
    width: 100%;
    border-radius: 50%;
}