@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,600;0,700;0,800;1,700&display=swap');
* {
    font-family: "JetBrains Mono";
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-color: #2E3440;
    color: #D8DEE9;
}

nav{
    background-color: #3B4252;
}

nav .container-lg a {
    color: #D8DEE9;
}

section a {
    color: #88C0D0;
}

section .mb-4 {
    text-transform: capitalize;
    font-weight: 600;
    color: #EBCB8B;
}

section .container-lg .section-title h2 {
    color: #D8DEE9;
    text-transform: capitalize;
}

section .row .about-text .bolding-text {
    color: #D08770;
}

section i {
    color: #A3BE8C;
}
