@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
:root {
    --white: #ffff;
    --color-dark: #2d3436;
    --color-green: #00b894;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-dark);
}


/*animation*/


/*main*/

nav {
    background-color: var(--color-dark);
}

.caption {
    padding-top: 10rem;
}

.container .nav-wrapper .brand-logo .logo-image {
    height: 70px;
    filter: invert(1);
}

.parallax-container .caption h3 {
    font-weight: 600;
    color: var(--white);
    animation: ease-in-top 2s ease-in-out reverse forwards;
}

.parallax-container {
    background-color: rgba(0, 0, 0, 0.659);
}

.container-second {
    background-color: var(--color-dark);
}

.container-second .row {
    padding: 2rem;
}

.container-second .row h4,
.container-second .row h3 {
    font-weight: 600;
    padding-bottom: 1rem;
    color: var(--white);
    animation-timing-function: ease;
}

.container-second .row i {
    color: var(--color-green);
}

.container-second .row p {
    text-justify: inter-character;
    color: var(--white);
}

.fade-in {
    opacity: 0;
    transform: translateY(120px);
    transition: all 2s ease;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0px);
}

.parallax-container .container-third .row h3 {
    padding: 2rem;
    color: var(--white);
    font-weight: 600;
}

.parallax-container .container-third .img-responsive {
    max-width: 300px;
    height: auto;
}


/*animation*/

@keyframes ease-in-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}